<div class="ion-page">
  <ion-content style="height: 100%;" id="container">
    <ion-grid style="height: 100%;">
      <ion-row class="ion-align-items-center" style="height: 100%">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-label position="floating">Encounter Name</ion-label>
              <ion-input [(ngModel)]="encounterName" name="encounterName"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="dismiss()" color="danger">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="createEncounter()" [disabled]="!encounterName || encounterName.length <= 0">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>
