<ion-content>


  <ion-list>
    <div *ngFor="let character of characterService.characters;">
      <ion-item button (click)="navigateToCharacter(character)">
        <ion-label>{{character.name}}</ion-label>
        <ion-icon *ngIf="deleteMode" name="trash" color="danger" (click)="deleteCharacter(character)"></ion-icon>
      </ion-item>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="deleteMode = !deleteMode" color="danger">
      <ion-icon *ngIf="!deleteMode" name="trash"></ion-icon>
      <ion-icon *ngIf="deleteMode" name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCharacter()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

