<ion-app>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cthulhu Combat Tracker</ion-title>
  </ion-toolbar>
  <ion-menu side="start" menuId="first" contentId="main" [swipeGesture]="false">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button routerLink="characters">
          <ion-icon name="accessibility-outline" slot="start"></ion-icon>
          <ion-label>Characters</ion-label>
        </ion-item>
        <ion-item button routerLink="encounters">
          <ion-icon name="dice-outline" slot="start"></ion-icon>
          <ion-label>Encounters</ion-label>
        </ion-item>
        <ion-item button routerLink="settings">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content id="main">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
